*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*                                   heading
.changa-one-regular {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .changa-one-regular-italic {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
                                       sub heading
  .kurale-regular {
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
  }
                            paragraph
  .open-sans-uniquifier {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
                                    title
  .jacquard-24-regular {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
  } */

  body{
    background-color: aqua;
  }

.desk_logo{
    border: none;
    border-radius: 55px;

}
.navigationss{
  background:
  linear-gradient(rgb(0, 255, 221), transparent),
  linear-gradient(to top left, lime, transparent),
  linear-gradient(to top right, blue, transparent);
background-blend-mode: screen;
}
.ul-for-nav{
    font-family: "Kurale", serif;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 5px;
}
#main-continer{
  margin-top: 150px;
}
.HHHH{
  font-family: "Changa One", sans-serif;
  color: #00d299c2;
}
.HHHHH{
  color: aquamarine;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Jacquard 24", system-ui;
}
.Curiculam{
  padding: 10px 40px;
}
.Extra{
  width: 100%;
    height: 400px;
    --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
    --m:
      left   var(--_i,0%) top    var(--_g),
      bottom var(--_i,0%) left   var(--_g),
      top    var(--_i,0%) right  var(--_g),
      right  var(--_i,0%) bottom var(--_g);
    -webkit-mask: var(--m);
            mask: var(--m);
    filter: grayscale();
    transition: .3s linear;
    cursor: pointer;
    
}
.Extra:hover{
  --_i: 10%;
  filter: grayscale(0);
}
#spansection{
  text-align: center;
    padding: 25px 60px;
    color: #d7dbff;
    font-size: 30px;
    line-height: 50px;
    font-family: "Changa One", sans-serif;
}

